@import url('reset.css');

.App {
  border: 2px solid black;
  padding: 20px 0;
}

.header {
  padding: 30px;
  text-align: center;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 25px;
}

.game {
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
  width: 798px;
}

.status-bar li {
  display: inline-block;
  margin: 0 10px;
}

.screen {
  border: 2px solid black;
  height: 404px;
}

.cell {
  display: inline-block;
  height: 25px;
  vertical-align: top;
  width: 25px;
}